.footer footer {
  background-color: var(--gray);
  margin: 0;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 50px;
  font-size: 14px;
}
.footer a {
  color: var(--orng);
  margin-left: 5px;
}
