

.home {
  padding: 8px 150px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}
.homeHeading {
  width: 100%;
}
.homeHeading h1 {
  color: var(--white);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}
.homeHeading h2 {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  color: var(--orng);
  width: 100%;
  margin-top: 10px;
}
.homeHeading p {
  font-size: 32px;
  font-weight: 400;
}

.homeHeading p span {
  color: #fbdf07;
  font-weight: 800;
  letter-spacing: 1px;
}

.loginForm {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 600px;
  width: 600px;
  padding-bottom: 16px;
}
.loginForm h2 {
  font-size: 22px;
  color: var(--orng);
  padding-bottom: 10px;
  font-weight: 500;
}
.loginForm input {
  width: 100%;
  background-color: #252427;
  border-color: #1a191b;
  color: #ffffff;
  font-size: "";
  font-weight: inherit;
  height: 48px;
  border-bottom-width: 2px;
  outline: none;
  border-radius: 9px;
  margin-top: 4px;
  padding: 2px 14px;
  color: var(--orng);
}

.loginForm ::placeholder {
  padding-left: 3px;
  font-size: 14px;
  color: var(--orng);
}

.loginForm .rem {
  margin-left: 2px;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
}
.loginForm .rem p {
  font-size: 14px;
  font-weight: 400;
  margin-left: 6px;
}
.loginForm button {
  height: 45px;
  background-color: var(--orng);
  width: 100%;
  border-radius: 9px;
  margin-top: 30px;
  border-bottom: 2px solid #ea5923;
}
.forget {
  font-size: 14px;
  color: var(--orng);
  font-weight: 500;
  position: absolute;
  right: 10px;
  top: 38px;
}
.signup p {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 4px;
  margin-bottom: 10px;
}
.signup a {
  color: var(--orng);
  padding-left: 4px;
  font-weight: 600;
}
.signup .for {
  color: var(--white);
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
}

.home .total {
  background-color: var(--gray);
  max-width: 600px;
  width: 600px;
  padding: 24px;
  margin-top: 50px;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.total .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  border-radius: 8px;
  background: rgba(255, 131, 85, 0.1);
}
.total .icon span {
  font-size: 40px;
  color: var(--orng);
}
.total .text {
  margin-left: 10px;
}
.total .text h2 {
  font-size: 32px;
  color: var(--orng);
  font-family: var(--bitter);
  font-weight: 700;
}
.total .text p{
  font-family: var(--Kreon);
  font-size: 15px;
  font-weight: 500;
  margin-top: 14px;
}

.steps {
  margin-top: 50px;
}
.steps .heading {
  text-align: center;
  margin-bottom: 100px;
}
.steps .heading h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--orng);
}
.steps .heading h6 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}

.step {
  margin-top: 70px;
  padding: 10px;
  max-width: 600px;
  width: 700px;
  border-radius: 8px;
  position: relative;
}
.step .number {
  background-color: var(--orng);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  border-radius: 40px;
  position: absolute;
  top: -42px;
  right: calc(50% - 40px);
}
.step .text {
  margin-top: 40px;
  text-align: center;
}
.step .text h4 {
  font-size: 18px;
  color: var(--orng);
  font-weight: 700;
  margin-bottom: 2px;
}
.step .text p {
  font-size: 14px;
  margin-bottom: 2px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .home {
    padding: 8px 15px;
  }

  .loginForm {
    background-color: var(--gray);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 50px;
    width: 92vw;
    padding-bottom: 24px;
  }
  .step {
    width: 96vw;
    max-width: 96vw;
  }
  .home .total {
    width: 90vw;
    max-width: 90vw;
  }
}
@media screen and (max-width: 417px) {
  .homeHeading h1 {
    font-size: 25px;
  }
}
